# Backend Planning
/Backend/vendor
/Backend/.env
/Backend/storage

# Backend ERP
/Backend-ERP/vendor
/Backend-ERP/.env
/Backend-ERP/storage

# DB Script
/DBScript

# Frontend
/Frontend/node_modules
/Frontend/package-lock.json
/Frontend/dist
/Frontend/tmp
/Frontend/out-tsc

# exe
cache_php.bat