a {
    vertical-align: middle;
}

.navbar {
    overflow: hidden;
    position: fixed;    /* Set the navbar to fixed position */
    top: 0;             /* Position the navbar at the top of the page */
    width: 100%;        /* Full width */
    z-index: 1;         /* Put header on front position */
}

.enicolor {
    color: #10447C;
    font-size: 1.25rem;;
    padding-right: 20px;
}

.currentComponent {
    font-size: 16px;
    padding: 12px;
    background-color: #E5E5E5; 
}
